doctype html
html
  head
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/styles.css' type='text/css')
    script(src='/script.js')

  body
    if !hideLayout
      header
        nav
          ul.nav-left
            li: a(href='/') Home
            li.separator | 
            li: a(href='#') Blog
          ul.nav-right
            li: a(href='/form') Register

    block content
    if !hideLayout
      footer
        | © Copyright 2022
